body {
  padding-left: 10px;
  padding-right: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  color: #555;
}

a:hover{
	cursor: pointer;
	color: #999;
	text-decoration: none;
}

small a{
	color: lightgray; 
	text-decoration: underline;
}

h3{
	margin-top: 0px;
}

h1{
	margin-bottom: 0px;
}

#content-wrapper{
	margin: 20px;
}


/*
 *	Course list
 */

.course-item{
	padding-top: 5px;
	padding-bottom: 5px;
}

.year7, .year8, .year9, .year10{
	background: #fafafa;
}




.clickable:hover {
	cursor: pointer;
}

.spy-img{
	margin-top: -25px;
}

.upvote{
	display: inline-block;
	overflow: hidden;
	width: 20px;
	height: 12px;
	background: url("../imgs/upvote.png");
	background-position: 0 -12px;
}

.upvote:hover{
	background-position: 0 1px;
	cursor: pointer;
}

/*
	COMMENT
*/
.comment {
	font-size: 13px;
}

.comment p{
	margin-top: 13px;
}

small{
	color: lightgray;
}

.comment{
	position: relative;
    display: block;
}


/* 
	D3 styles 
*/

.chart{
	float: left;
}

.chart rect {
	fill: #555;
}

.chart text{
	text-anchor: middle;
}

.chart .title {
	fill: black;
	font-family: sans-serif;
	font-size: 0.75em;
	width: 190px;
	margin-right: 10px;
	height: 20px;
}

.chart .bar_label {
  fill: black;
  font: 10px sans-serif;
}

.chart .x_label {
	font: 10px sans-serif;
	color: black;
}