body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clickable:hover {
	cursor: pointer;
}


/* D3 styles */
.chart {
	float: left;
}
.chart rect {
  fill: rgb(225, 77, 76);
}

.chart text{
	text-anchor: middle;
}

.chart .title {
	fill: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.chart .bar_label {
  fill: white;
  font: 10px sans-serif;
}

.chart .x_label {
	font: 10px sans-serif;
	color: black;
}